@charset "UTF-8";
body{background-color: rgb(76, 76, 83);
color: white;
font-family: 'Montserrat', sans-serif;}
h1 {font-size: 3.5em;
  line-height: 0.3;
margin-left: 100px;}

.barramenu {background-image:linear-gradient(to right,#C4BE97,#B0BFB7,#4D5952,#1D2621,#0A0D0B);
width: 100%;
height:100px;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9999;}